[submodule "cic"]
	path = cic_interpolator
	url = git@github.com:Chisel-blocks/cic3_interpolator.git
[submodule "hb"]
	path = hb_interpolator
	url = git@github.com:Chisel-blocks/halfband_interpolator.git
